<p id="notice"><%= notice %></p>
<style>
* {
  text-align: center;
}

li {
  text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}
</style>
<p>
  <strong>Name:</strong>
  <li><%= @piece.title %></li>
</p>

<p>

  <%= image_tag @piece.url %>
</p>

<% if @piece.comments != [] %>
  <h2>Comments</h2>
  <% i = 1 %>
  <% @piece.comments.each do |comment| %>
   <p>
    <strong>Comment #<%= i %>:</strong>
    <%= comment.comment %>
    <br>
    <strong>Added:</strong> <%= time_ago_in_words(comment.created_at) %> ago
   </p>
   <% i += 1 %>
  <% end %>
<% end %>

<h2>Add comment:</h2>
<%= render 'comments/form', comment: @comment, id: @piece.id %>



<button class="btn btn-block"><%= link_to 'Back', pieces_path%></button>
