<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @piece.title %>
</p>

<p>

  <%= image_tag @piece.url %>
</p>

<h2>Comments</h2>
<% @piece.comments.each do |comment| %>
  <p>
    <strong>Comment <%= comment.id %>:</strong>
    <%= comment.comment %>
  </p>
<% end %>

<h2>Add a comment:</h2>



<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
