<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @piece.title %>
</p>

<p>

  <%= image_tag @piece.url %>
</p>

<h2>Comments</h2>
<% @piece.comments.each do |comment| %>
  <p>
    <strong>Comment #<%= comment.id %>:</strong>
    <%= comment.comment %>
    <br>
    <strong>Added:</strong> <%= time_ago_in_words(comment.created_at) %> ago
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form', comment: @comment %>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
