<p id="notice"><%= notice %></p>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Sketcher</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li></li>
      <li></li>
      <li></li>
      <li class="nav-item">
        <button class="btn btn-sm"><a class="nav-link" href="/pieces/new/">Upload</a></button>
      </li>
    </ul>
  </div>
  </div>
</nav>

<br>

<style>

@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

li {
  text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
  /*display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50%;*/*/
}

.btn-block {
  margin-top: 1em;
}
</style>

<p>
  <strong>Name:</strong>
  <li><%= @piece.title %></li>
</p>

<p>

  <%= image_tag @piece.url %>
</p>

<% if @piece.comments != [] %>
  <h2>Comments</h2>
  <% i = 1 %>
  <% @piece.comments.each do |comment| %>
   <p>
    <strong>Comment #<%= i %>:</strong>
    <%= comment.comment %>
    <br>
    <strong>Added:</strong> <%= time_ago_in_words(comment.created_at) %> ago
   </p>
   <% i += 1 %>
  <% end %>
<% end %>
<div class="adding">
<h2>Add comment:</h2>
<%= render 'comments/form', comment: @comment, id: @piece.id %>
</div>


<button class="btn btn-block"><%= link_to 'Back', pieces_path%></button>
