<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece.title %>
</p>

<p>

  <%= image_tag @piece.url %>
</p>

<h2>Comments</h2>
<% i = 1 %>
<% @piece.comments.each do |comment| %>
  <p>
    <strong>Comment #<%= i %>:</strong>
    <%= comment.comment %>
    <br>
    <strong>Added:</strong> <%= time_ago_in_words(comment.created_at) %> ago
  </p>
  <% i += 1 %>
<% end %>

<h2>Add comment:</h2>
<%= render 'comments/form', comment: @comment, id: @piece.id %>



<%= link_to 'Back', pieces_path %>
